<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //axios get을 이용한 통신
        function sendGet(){
            var form = document.getElementById("form_info");
            axios({
                method:"get", //어떤 메소드로 보낼건지
                url : "/form",//어디의 경로로 보낼건지
                params:{
                    name:form.name.value,
                    gender:form.gender.value,
                    birthYear:form.birthYear.value,
                    birthMonth:form.birthMonth.value,
                    birthDay:form.birthDay.value,
                    // birth:[form.birthYear.value,form.birthMonth.value,form.birthDay.value],
                    interest:form.interest.value
                }
            }).then(function(res){
                alert(res.data.msg);
            });
        }
    </script>
</head>

<body>
    <form id="form_info" method="get">
        이름 <input type="text" name="name" required>
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="men" required><label for="men">남자</label>
            <input type="radio" name="gender" value="여자" id="women" required><label for="women">여자</label>
        </fieldset>

        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear">
                <% for(var i=1990 ;i<=2022; i++) {%>

                    <option value="<%=i%>">
                        <%=i%>년
                    </option>
                    <% } %>
            </select>
            <select name="birthMonth">
                <% for(var i=1 ;i<=12; i++) {%>

                    <option value="<%=i%>">
                        <%=i%>월
                    </option>
                    <% } %>
            </select>
            <select name="birthDay">
                <% for(var i=1 ;i<=31; i++) {%>

                    <option value="<%=i%>">
                        <%=i%>일
                    </option>
                    <% } %>
            </select>
        </fieldset>

        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="여행">여행
            <input type="checkbox" name="interest" value="패션">패션
            <input type="checkbox" name="interest" value="음식">음식
        </fieldset>


        <button type="button" onclick="sendGet();">회원가입</button>
    </form>
</body>

</html>